*{
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}


.nav-bar{
    height: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.3rem;
    
}


.nav-bar__task{
    list-style: none;
    width: 40%;
    height: 100%;
    display: inherit;
}

.nav-bar__task__item + .nav-bar__task__item{
    margin-left: 25px;
}

.nav-bar__task__item{
    width: 19.8%;
    height: 100%;
    cursor: pointer;
    line-height: 3.5rem;
    text-align: center;
    
}

.nav-bar__task__item:hover{
    background-color: white;
    color: black;
}


.nav-bar__search{
    margin-right: 40px;
}

.nav-bar__search__item{
   margin-right: 10px;
   
}


.nav-bar__search__input{
    border-radius: 5px;
    padding-left: 60px;
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-bar__search__icon{
    cursor: pointer;
}

.slide__img{
    width: 100%;
   
}