

.grid{
    width: 1215px;
    max-width: 100%;
    margin: 0 220px 0 220px;

}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__all{
    width: 767px;
    max-width: 100%;
    margin-left: 222px;
    display: flex;
}

.grid__3{
    width: 33.4%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.tour-date__item__img{
    width: 100%;
    height: 20%;
    object-fit: contain;
}


