*{
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}


.nav-bar{
    height: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}


.nav-bar__task{
    list-style: none;
    width: 40%;
    height: 100%;
    display: inherit;
}

.nav-bar__task__item + .nav-bar__task__item{
    margin-left: 25px;
}

.nav-bar__task__item{
    width: 19.8%;
    height: 100%;
    cursor: pointer;
    line-height: 3.5rem;
    text-align: center;
    
}

.nav-bar__task__item:hover{
    background-color: white;
    color: black;
}


.nav-bar__search{
    
    margin-right: 40px;
}
.nav-bar__search__icon{
    padding: 10px 10px;
}

.nav-bar__search__icon:hover{
    background-color: red;
    color: white;
}

.nav-bar__search__item{
   margin-right: 10px;
   
}


.nav-bar__search__input{
    border-radius: 5px;
    padding-left: 60px;
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-bar__search__icon{
    cursor: pointer;
}

.slide__img{
    width: 100%;
   
}


.describe{
    text-align: left;
    margin-top: 110px;
}

.describe__paragraph{
    width: 770px;
    
}


.describe__paragraph__heading{
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 37%;
}

.describe__paragraph__title{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.627);
    margin-top: 33px;
    margin-left: 42%;
}


.describe__paragraph__content{
   font-size: 1.2rem;
}


.describe__information{
    margin-top: 120px;
    width: 780px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.describe__information__items{
    width: 160px;
}

.describe__informaition__title{
    font-weight: 650;
    font-size: 1.4rem;
    margin-left: 40%;  
}

.describe__information__img img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 5px;
}


.tour-date{
    height: 850px;
    width: 100%;
    background-color: black;
    
}



.tour-date__heading{
    color: white;
    font-weight: 500;
    margin-left: 490px;
    margin-right: 490px;
    
    
}

.tour-date__title{
    color: white;
    font-weight: 500;
    margin-left: 470px;
    margin-right: 490px;
}

.tour-date__status{
    width: 766px;
    height: 115px;
    margin: 0 auto;
    background-color: white;
}


.tour-date__status__first{
    height: 33.4%;
    border-bottom: 1px grey solid;
    display: flex;
    align-items: center;
}

.tour-date__status__month{
    width: 90px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.676);
}

.tour-date__status__soldout{
    padding: 8px 8px;
    background-color: rgba(255, 0, 0, 0.896);
    font-weight: 300;
    color: white;
}

.tour-date__status__month,.tour-date__status__soldout{
    margin-left: 20px;
    line-height: 1rem;
}

.tour-date__status__quantity{
    padding: 10px 10px;
    background-color: black;
    border-radius: 50%;
    color: white;
    line-height: 0.5rem;
    margin: 0px 10px 0px auto;
}

.tour-date__items{
    margin-top: 50px;
}

.grid__3{
    width: 250px;
    height: 390px;
    background-color: #fff;
}

